@import 'colours.less';
@import 'flexbox.less';

button {
   padding: 0;
   border: none;
}

button.giantButton {
   font-weight: 800;
   font-size: 42px;
   .flex(0px);
   .flex-grow(1);
}

button.widthButton {
   width: 100%;
   min-height: 50px;
   padding: 7px;
   font-weight: 800;
   height: 80px;
}

button.green {
   background-color: #859900;
   color: #fdf6e3;
}

button.blue {
   background-color: #268bd2;
   color: #fdf6e3;
}

button.orange {
   background-color: #cb4b16;
   color: #fdf6e3;
}

button[disabled] {
   background-color: #839496;
   color: #fdf6e3;
}
