@import 'buttons.less';
@import 'colours.less';
@import 'flexbox.less';

body, html {
   width: 100%;
   height: 100%;
}

body {
   font-family: 'Merriweather', serif;
   font-size: 24px;
   background-color: @base3;
   color: @base00;
}

* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

input {
   color: @base00;
}

input:focus {
   outline: none;
}

#viewContainer {
   width: 100%;
   height: 100%;
}

.appView {
   width: 100%;
   height: 100%;
}


.homeView {
   .flex-display;
   .flex-direction(column);
}


.backButton {
   position: fixed;
   bottom: 0px;
}

.addView {
   @rowHeight: 50px;
   @topPadding: 17px;

   .inputRow {
      width: 90%;
      margin: 0 auto;
      display: table;
      min-height: @rowHeight;

      label {
         display: table-cell;
         font-weight: 700;
         line-height: 1.4em;
         padding-right: 10px;
      }

      input {
         width: 100%;
         height: 1.4em;
         line-height: 1.4em;
         display: table-cell;
         padding-left: 8px;
         text-align: right;
         background-color: transparent;
         border: none;
      }

      input:focus {
         border-bottom: 1px solid @base01;
      }
   }

   .addButton {
      position: fixed;
      bottom: 80px;
   }

   .inputRow:first-child {
      padding-top: @topPadding;
      min-height: @topPadding + @rowHeight;
   }
}


.searchView {
   form {
      .flex-display;
   }

   .searchLabel {
      line-height: 50px;
      padding: 0 8px;
      cursor: text;
      position: absolute;
      opacity: 0.5;
   }

   .searchLabel-hasText {
      opacity: 0;
   }

   .searchField {
      padding: 0 8px;
      border: none;
      line-height: 50px;
      height: 50px;
      border-bottom: 1px solid @blue;
      .flex(0px);
      .flex-grow(1);
      color: @base01;
   }

   .searchButton {
      .flex-grow(0);
      width: 50px;
      height: 50px;
   }

   ol {
      list-style: none;
      margin: 0;
      padding: 0 0 @widthButtonHeight 0;
   }

   li {
      padding: 10px 8px;
      border-bottom: 1px solid @base01;
      cursor: pointer;

      .title {
         display: block;
         font-weight: bold;
         font-family: 'Merriweather Sans', sans-serif;
      }

      .author {
         font-weight: 300;
      }
   }
}
