<div class="addView appView">
   <form data-bind="submit: onSubmit">
      <div class="inputRow">
         <label for="title">Title</label>
         <input type="text" id="title" data-bind="value: title, disable: adding">
      </div>
      <div class="inputRow">
         <label for="author">Author</label>
         <input type="text" id="author" data-bind="value: author, disable: adding">
      </div>
      <button type="submit" class="widthButton green addButton" data-bind="text: buttonText, disable: adding">Add</button>
   </form>
   <button class="widthButton orange backButton" data-bind="disable: adding, click: onBack">Back</button>
</div>
