<div class="searchView appView">
   <form data-bind="submit: onSearch">
      <label class="searchLabel" data-bind="css: { 'searchLabel-hasText': searchTerm }">Search</label>
      <input type="text" class="searchField" data-bind="value: searchTerm, valueUpdate: 'input'">
      <button class="searchButton blue" data-bind="tap: onSearch">Go</button>
   </form>
   <ol data-bind="foreach: books">
      <li data-bind="click: open">
         <span class="title" data-bind="text: title"></span>
         <span class="author" data-bind="text: author"></span>
      </li>
   </ol>
   <button class="widthButton orange backButton" data-bind="tap: onBack">Back</button>
</div>